H1 {
        font: bold x-large Helvetica,Arial,Sans-serif;
        color: #606060;
}

H2 {
        font: bold large Helvetica,Arial,Sans-serif;
        color: #606060;
}

H3 {
        font: large Helvetica,Arial,Sans-serif;
        color: #606060;
}

A.menulink {
        font: bold small sans-serif;
        color: #ccccff;
}

P {
	font: medium serif;
}

.menu {
        font: bold small sans-serif;
        color: white;
        text-align: right;
        margin-right: 12pt;
}

.pagetitle {
        font: bold x-large Helvetica,Arial,Sans-serif;
	color: #000000;
}

.sitetitle {
        font: large Helvetica,Arial,Sans-serif;
	color: #000000;
}

.searchfieldhelp,.formfieldhelp {
        font: small serif;
}

.searchfieldname {
        padding-top: 12pt;
        padding-bottom: 3pt;
        font: bold medium serif;
}

.formfieldname {
        padding-top: 3pt;
        font: bold medium serif;
}

.formfieldinput {
        padding-bottom: 3pt;
}

.requiredstar {
	color: #ff0000;
}

.namefieldheading {
	text-align: left;
	font: small serif;
}

.searchorder {
        padding-top: 12pt;
}

.searchbuttons {
        padding-top: 12pt;
}

.searchmustfulfill {
        padding-top: 12pt;
}

.main {
        margin-left: 12pt;
        margin-right: 12pt;
}

