body {
	margin: 0pt;
}

.header TABLE
{
	border: 0px; 
	border-bottom: 1px; 
	border-style: solid; 
	border-color: #000000 ;
}
.footer 
{
	padding-top: 8px;
}

.footer TABLE
{
	border: 0px; 
	border-bottom: 1px; 
	border-top: 1px; 
	border-style: solid; 
	border-color: #b0b0b0 #000 #000 #000;
}

h1 {
        font: bold x-large Helvetica,Arial,Sans-serif;
        color: #606060;
	margin-left: -4pt;
}

h2 {
        font: bold large Helvetica,Arial,Sans-serif;
        color: #606060;
	margin-left: -4pt;
}

h3 {
        font: large Helvetica,Arial,Sans-serif;
        color: #606060;
}

a.menulink {
}

p {
	font: medium serif;
}

.menu {
        font: bold small sans-serif;
        text-align: right;
        margin-right: 12pt;
}

.archivetitle {
        font: large Helvetica,Arial,Sans-serif;
	color: #000000;
}

.searchfieldhelp,.formfieldhelp {
        font: small serif;
}

.searchfieldname {
        padding-top: 12pt;
        padding-bottom: 3pt;
        font: bold medium serif;
}

.formfieldname {
        padding-top: 3pt;
        font: bold medium serif;
}

.formfieldidname {
        font: bold medium serif;
}


.formfieldinput {
        padding-bottom: 3pt;
}
.formfieldidinput {
}


.formfieldcomment {
	font-style: italic;
        padding-bottom: 3pt;
}

.requiredstar,.requiredlang {
	color: #ff0000;
}


.alert {
	color: #ff0000;
        font: bold medium serif;
}

.namefieldheading {
	text-align: left;
	font: small serif;
}

.searchorder {
        padding-top: 12pt;
}

.searchbuttons {
        padding-top: 12pt;
}

.searchmustfulfill {
        padding-top: 12pt;
}

.main {
        margin-left: 16pt;
        margin-right: 12pt;
}

dt {
	font-weight: bold;
}

.numeral {
	font-weight: bold;
}

.ignoredword {
	font-style: italic;
}

.searchcontrols {
        border: 1px;
        padding: 4px;
        border-style: solid;
        border-color: #000000 ;
        background-color: #f0f0f0;
	text-decoration: none;
}

