AuthName "User Area"
AuthType Basic

PerlAuthenHandler Apache::AuthDBI::authen
PerlAuthzHandler  Apache::AuthDBI::authz

PerlSetVar Auth_DBI_data_source   dbi:mysql:eprints
PerlSetVar Auth_DBI_username      eprints
PerlSetVar Auth_DBI_password      eprints

PerlSetVar Auth_DBI_pwd_table     users
PerlSetVar Auth_DBI_uid_field     username
PerlSetVar Auth_DBI_pwd_field     passwd
PerlSetVar Auth_DBI_grp_field     groups

PerlSetVar Auth_DBI_encrypted     off

require group User Staff
