H1 {
        font: bold 24pt Helvetica,Arial,Sans-serif;
        color: #606060;
}

H2 {
        font: bold 18pt Helvetica,Arial,Sans-serif;
        color: #606060;
}

H3 {
        font: 14pt Helvetica,Arial,Sans-serif;
        color: #606060;
}

.searchfieldname {
	font-weight: bold;
	text-align: right;
}

TD.searchfieldhelp {
        font-style: italic;	
	text-align: center;
}

INPUT.submitbutton {
	padding-left: 1em;
}

TABLE.submitbuttons {
	text-align: center;
}

.main {
	padding-left: 2em;
}
