H1 {
        font: bold 24pt Helvetica,Arial,Sans-serif;
        color: #606060;
}

H2 {
        font: bold 18pt Helvetica,Arial,Sans-serif;
        color: #606060;
}

H3 {
        font: 14pt Helvetica,Arial,Sans-serif;
        color: #606060;
}

.searchfieldname {
	font-weight: bold;
	text-align: right;
	margin-bottom: 1em;
	margin-right: 1em;
}

.searchfieldhelp {
        font-style: italic;	
	text-align: center;
}

.searchfieldinput {
	margin-left: 1em;
	margin-bottom: 1em;
}

.submitbutton {
	border: 1em;
}

.main {
	padding-left: 2em;
	background-color: red;
}
